# Ignore files related to API keys and personal info
.env

# Ignore PyCharm and Python files
.idea/
venv/
__pycache__/
.ipynb_checkpoints/

# Ignore folders and text files
cosing_clean
cosing_raw
*.txt
!requirements.txt
