# Ignore files related to API keys and personal info
.env
inci_db.sql

# Ignore PyCharm and Python files
.idea/
venv/
__pycache__/
.ipynb_checkpoints/

# Ignore folders and text files
cosing_clean
cosing_raw
*.txt
!requirements.txt
!LICENSE_HTML5UP_template.txt

# Ignore images and fonts for the app
app/static/assets/
